<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.cxis.fdc.dao.mapper.BrandLanguageDOMapper">
  <resultMap id="BaseResultMap" type="me.cxis.fdc.dao.model.BrandLanguageDO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creator_id" jdbcType="VARCHAR" property="creatorId" />
    <result column="modifier_id" jdbcType="VARCHAR" property="modifierId" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="brand_id" jdbcType="BIGINT" property="brandId" />
    <result column="language_code" jdbcType="VARCHAR" property="languageCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>

  <sql id="Base_Column_List">
    id, create_time, update_time, creator_id, modifier_id, deleted, brand_id, language_code, 
    name
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from brand_language
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from brand_language
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="me.cxis.fdc.dao.model.BrandLanguageDO">
    insert into brand_language (id, create_time, update_time, 
      creator_id, modifier_id, deleted, 
      brand_id, language_code, name
      )
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{creatorId,jdbcType=VARCHAR}, #{modifierId,jdbcType=VARCHAR}, #{deleted,jdbcType=BIT}, 
      #{brandId,jdbcType=BIGINT}, #{languageCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="me.cxis.fdc.dao.model.BrandLanguageDO">
    insert into brand_language
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="brandId != null">
        brand_id,
      </if>
      <if test="languageCode != null">
        language_code,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="brandId != null">
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="languageCode != null">
        #{languageCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="me.cxis.fdc.dao.model.BrandLanguageDO">
    update brand_language
    <set>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=VARCHAR},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="brandId != null">
        brand_id = #{brandId,jdbcType=BIGINT},
      </if>
      <if test="languageCode != null">
        language_code = #{languageCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="me.cxis.fdc.dao.model.BrandLanguageDO">
    update brand_language
    set create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=VARCHAR},
      modifier_id = #{modifierId,jdbcType=VARCHAR},
      deleted = #{deleted,jdbcType=BIT},
      brand_id = #{brandId,jdbcType=BIGINT},
      language_code = #{languageCode,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByBrandIdAndLanguageCode" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from brand_language
    where brand_id = #{brandId,jdbcType=BIGINT}
      and language_code = #{languageCode,jdbcType=VARCHAR}
  </select>
</mapper>